# THIS FILE IS CONTROLLED BY ELASTICLUSTER
# local modifications will be overwritten
# the next time `elasticluster setup` is run!
#

{{NFS_EXPORTS}}

{% for item in NFS_EXPORTS | from_yaml %}
{{item.path}} {% for client in item.clients %}{{client}}{% if item.is_bucket == true%}(fsid=0,{% else %}({% endif %}{{item.options}}) {% endfor %}

{% endfor %}